# TensorFlow is much easier to install using Anaconda, especially
# on Windows or when using a GPU. Please see the installation
# instructions in INSTALL.md


##### Core scientific packages
jupyter
jupyterlab
matplotlib
numpy
pandas
scipy

##### Machine Learning packages
scikit-learn

# Optional: the XGBoost library is only used in chapter 7
xgboost

# Optional: the transformers library is only used in chapter 16
transformers

##### TensorFlow-related packages

# If you have a TF-compatible GPU and you want to enable GPU support, then
# replace tensorflow-serving-api with tensorflow-serving-api-gpu.
# Your GPU must have CUDA Compute Capability 3.5 or higher support, and
# you must install CUDA, cuDNN and more: see tensorflow.org for the detailed
# installation instructions.

tensorflow
# Optional: the TF Serving API library is just needed for chapter 18.
# tensorflow-serving-api-gpu
tensorflow-serving-api

tensorboard
tensorboard-plugin-profile
tensorflow-datasets
tensorflow-hub

# Used in chapter 10 and 19 for hyperparameter tuning
keras-tuner

# Optional: used in chapters 11 & 16 (for AdamW & seq2seq)
tensorflow-addons

##### Reinforcement Learning library (chapter 18)

# There are a few dependencies you need to install first, check out:
# https://github.com/openai/gym#installing-everything
gymnasium

# WARNING: on Windows, installing Box2D this way requires:
# * Swig: http://www.swig.org/download.html
# * Microsoft C++ Build Tools:
#   https://visualstudio.microsoft.com/visual-cpp-build-tools/
# It's much easier to use Anaconda instead.

##### Image manipulation
Pillow
graphviz

##### Google Cloud Platform - used only in chapter 19
google-cloud-aiplatform
google-cloud-storage

##### Additional utilities

# Efficient jobs (caching, parallelism, persistence)
joblib

# Easy http requests
requests

# Nice utility to diff Jupyter Notebooks.
nbdime

# May be useful with Pandas for complex "where" clauses (e.g., Pandas
# tutorial).
numexpr

# Optional: these libraries can be useful in chapter 3, exercise 4.
nltk
urlextract

# Optional: tqdm displays nice progress bars, ipywidgets for tqdm's notebook
#           support
tqdm
ipywidgets

# Optional: pydot is only used in chapter 10 for tf.keras.utils.plot_model()
pydot

# Optional: statsmodels is only used in chapter 15 for time series analysis
statsmodels